Footer{
    background-color:#212121;
    color: white;
    text-align: center;
    padding: 15px;
  }

  Footer > a {
    color: white;
    text-decoration: none;
  }
  
  Footer > a:hover{
    color:orange;
    text-decoration: none;
  }
  
  @media (max-width:600px) {
    Footer{
      font-size: 12px;
    }
  }