.about{
    margin: auto;
}


.title > h2{
    font-size: 30px;
    padding: 30px; 
    margin: auto;
}

.title{
    background-image: url("../assets/about.jpg");
    text-align: center;
    color:white;
    margin: auto;
    width: 100%;
}

.title > p {
    width: 50%;
    margin: auto;
    font-size: 16px;
    padding: 20px;
}

.Carousel {

}