#wrapper-bio {
    display: flex;
    justify-content: space-around;
}

#personal-bio {
    padding: 10px;
    border-style: solid;
    border-width: thin;
    width: 30%;
    text-align: center;
    margin: 10px;
}

#personal-bio img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#about-font {
    font-style: italic;
    font-weight: lighter;
}

#about-name {
    font-weight: 500;
}

.fw-normal {
    text-align: center;
}


.kotak-masuk {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0px 80px 0px;

}

.link {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin: 2%;
}

#link {
    background-color: whitesmoke;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-weight: 500;
}