#wrapper-bio {
    display: flex;
    justify-content: space-around;
}

#personal-bio {
    padding: 10px;
    border-style: solid;
    border-width: thin;
    width: 30%;
    text-align: center;
    margin: 10px;
}

#personal-bio img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#about-font {
    font-style: italic;
    font-weight: lighter;
}

#about-name {
    font-weight: 500;
}

/*  Login */
.kotak-masuk {
    text-align: center;
}

.label-left {
    text-align: left;
}

.link {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}