.movies-container-box{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movies-container{
    margin: auto;
    width: 300px;
    height: 500px;

}

.movies-info{
    padding: 10px;

}

.movies-container>img {
    width:210px;
    height:297px;
}

.list-data{
    background-color: white;

}

.section-2{
    text-align: right;
}

