.srch {
    margin-top: 20px;
    padding: 5px;
    border-color: #AA1F1A;
    border-radius: 3%;
}

.video{
  width: 100%;
  height: 70%;

}

.movies-container-box {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.movies-container {
    color:white;
    background-color: #AA1F1A;
    width: 200px;
    margin: 10px 10px 0px 10px;
    position: relative;
    overflow: hidden;
    /* border-style: solid; */
    /* border-width: thin; */
}

.movies-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* border-style: solid;
    border-width: thin;
    border-color: white; */
}

.movies-name p {
    font-weight: bold;
    font-size: small;
    margin: 0;
}

.movies-container img {
    max-width: 100%;
    height: 300px;
}

.movies-overview {
    background-color: #AA1F1A;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movies-overview h3 {
    font-weight: bold;   
}

.movies-container:hover .movies-overview {
    transform: translateX(0%);
}

.movies-overview p {
    font-size: small;
}

.movies-overview h3 {
    font-size: small;
}

input {
    width: 60%;
}



  .list-data{
      background-color: black;
  }

.fungsi-search{
  margin: auto;
  width: 50%;
    padding-top: 30px;
}

/* .video-trailer {
  overflow: hidden;
  width: 100%; */
  /* position: relative; */
    /* height: 50px; */
    /* padding-top: 56.25%; */
    /* padding-top: 40%; */
  /* } */
  
  .responsive-iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 500px;
  }

  .deskripsi-video{
      padding: 10px;

      text-align: center;
  }

  .fa-facebook {
    background: #3B5998;
  }

  .fa-instagram {
    background: #8a3ab9;
  }

  .fa:hover {
    opacity: 0.7;
}

  .fa{
    padding: 10px;
    font-size: 10px;
    margin: 5px 2px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%; 
  }

  .fa-twitter {
    background: #55ACEE;
  }

  .fa-linkedin {
    background: #007bb5;
  }

  .social-share{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .loading {
    padding: 15%;
    text-align: center;
  }

  .fungsi-search > h2 {
    text-align: center;
  }

  @media (max-width:520px) {
    .fungsi-search{
      width: 80%;
    }

    .search{
      width: 80%;
    }
  }