.btn {
    width: 400px;
    margin-top: 20px;
    background-color: blue;
}

.sign-login {
    margin-top: 20px;
}

.label-left {
    text-align: left;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;  
}

.login-page{
    min-height: 100%;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/src/assets/movies2.jpg");
    background-blend-mode: multiply;
background-color: #666666;
}

.kotak-masuk{
    width: 50%;
    background-color:	#f3f3f3;
    margin: auto;
    
}
