Footer{
  background-color:#212121;
  color: white;
  text-align: center;
  padding: 15px;
}

.link-navigasi{
  color:white;
  font-size: 16px;
  padding: 10px;
}

.link-navigasi:hover{
  color:orange;
  font-size: 18px;
}

.logo{
  width: 75px;
  height: 75px;
}

.nama-logo{
  color:white;
}
.nama-logo:hover{
  color: orange;
}

@media (max-width:600px) {
  Footer{
    font-size: 12px;
  }
}