Footer{
  background-color:#212121;
  color: white;
  text-align: center;
  padding: 15px;
}

.link-navigasi{
  color:white;
  font-size: 16px;
  padding: 10px;
}

.logo{
  width: 75px;
  height: 75px;
}

@media (max-width:600px) {
  Footer{
    font-size: 12px;
  }
}